// @import "../../node_modules/normalize.css/normalize";

@import "utils/variables";
@import "utils/mixins";
@import "utils/helpers";
@import "utils/fonts";
@import "utils/button";
@import "utils/burger";
@import "utils/icomoon";
@import "utils/animation";
@import "utils/fa-light.css";
@import "utils/fontawesome.css";

* {
    box-sizing: border-box;
    outline:none;
}

@import "blocks/header";
@import "blocks/dashboard/dashboard";
@import "blocks/pagination";
@import "blocks/table";
@import "blocks/list-sidebar";
@import "blocks/social";
@import "blocks/users-list-toodo";
@import "blocks/orders";
@import "blocks/list-contact";
@import "blocks/search-block";

.sidebar-width{
    height:auto;
}