@import "utils/fa-light.scss";
@import "utils/fontawesome.scss";
@import "utils/variables";
@import "utils/mixins";
@import "utils/helpers";
@import "utils/fonts";
@import "utils/button";
@import "utils/burger";
@import "utils/animation";

* {
  box-sizing: border-box;
  outline: none;
}

@import "blocks/header";
@import "blocks/breadcrumb";
@import "blocks/left-menu";
@import "blocks/dashboard/dashboard";
@import "blocks/pagination";
@import "blocks/table";
@import "blocks/list-sidebar";
@import "blocks/social";
@import "blocks/users-list-toodo";
@import "blocks/orders";
@import "blocks/create-faq";
@import "blocks/create-new";
@import "blocks/review";
@import "blocks/list-contact";
@import "blocks/list-partner";
@import "blocks/search-block";
@import "blocks/catalog-parser";
@import "blocks/catalog-news";
@import "blocks/list-currency";
@import "blocks/action";
@import "blocks/setting-social-main";
@import "blocks/list-verification";
@import "blocks/profile/profile-sidebar";
@import "blocks/profile/profile-main-head";
@import "blocks/profile/profile";
@import "blocks/question";
@import "blocks/create-currency/create-currency-head";
@import "blocks/create-currency/create-currency";
@import "blocks/create-currency/create-currency-sidebar";
@import "blocks/switch";
.sidebar-width {
  height: auto;
}

footer.footer {
  margin: 30px -15px -30px -35px;
  padding: 30px;
  background-color: #ffffff;
  text-align: left;

  ul {
    float: right;
    width: 50%;
    text-align: right;
    li {
      display: inline-block;
      margin: 0 15px;

      a {
        padding: 0 5px;
        color: #666666;
        text-decoration: none;
        &:hover {
          color: #383838;
          text-decoration: underline;

        }
      }

    }
  }
}
