@import "utils/fa-light.scss";
@import "utils/fontawesome.scss";
@import "utils/variables";
@import "utils/mixins";
@import "utils/helpers";
@import "utils/fonts";
@import "utils/button";
@import "utils/burger";
@import "utils/animation";

* {
  box-sizing: border-box;
  outline: none;
}
@import "blocks/header";
@import "blocks/breadcrumb";
@import "blocks/left-menu";
@import "blocks/dashboard/dashboard";
@import "blocks/pagination";
@import "blocks/table";
@import "blocks/list-sidebar";
@import "blocks/social";
@import "blocks/users-list-toodo";
@import "blocks/orders";
@import "blocks/create-faq";
@import "blocks/create-new";
@import "blocks/list-contact";
@import "blocks/list-partner";
@import "blocks/search-block";
@import "blocks/switch";

.sidebar-width {
  height: auto;
}