
.action {

  &-main {

    &--top {
      .title {
        padding-left: 30px;
        padding-right: 30px;
        border-bottom: 1px solid #f5f6f7;
      }
    }

    .table-head {
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    .table {

      //max-height: 40rem;
      //overflow-y: scroll;

      table {

        @media screen and (max-width: 1300px) {
          min-width: 50rem;
        }

        td {
          &:first-child {
            padding-left: 25px;
          }
        }

        tbody {
          tr {
            border-top: 20px solid #fbfbfb;
            border-bottom: 20px solid #fbfbfb;
            background-color: #fbfbfb;
            box-shadow: 0 4px 11px 0 rgba(196, 198, 215, 0.21);
          }

          p {
            margin-bottom: 0;
            white-space: normal;
          }


        }
      }

    }

    .small {
      width: 95px;
      padding-left: 10px;
      padding-right: 5px;
    }
    .small-ico {
      width: 55px;
      padding-left: 10px;
      padding-right: 5px;
    }

    .bg-ar {
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 25%;
        left: -30px;
        border: 15px solid transparent;
        border-right: 15px solid #fff;
      }
    }

    .df {
      display: flex;
      align-items: center;
      flex-direction: row;

      p {
        margin-right: 20px;
        color: #7d7d7d;

        &.name {
          color: #555555;
          white-space: nowrap;
        }

        i {
          margin-left: 15px;
          font-size: 15px;
          color: #ffc342;
        }
      }
    }


    .user {
      width: 250px;

      @media screen and (max-width: 1300px) {
        width: 175px;
      }

      span {
        margin-left: 0;
      }
    }

    .middle {
      width: 200px;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;

      @media screen and (max-width: 1300px) {
        width: 150px;
      }
    }

    .time {
      font-size: 20px;
      color: #646464;
    }

    .time + span {
      font-size: 10px;
      color: #cfd0d1;
    }

    .img-border {
      border: 5px solid #ffffff;
    }

    .bg {
      background: white;
    }

    .ip {
      display: flex;
      align-items: center;

      p {
        flex: 1 1;
        margin-left: 10px;
        margin-right: 10px;
        color: #a3a3a3;
      }

      span {
        font-size: 16px;
      }
    }

    .lang {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }


  }

}
