
.breadcrumb {
  flex: 0 0 auto;
  background: white;
  padding: 10px 15px 10px 35px;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

    &__name-block {
      color: #2f323e;
      text-transform: uppercase;
      font-size: 14px;
    }

  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-right: 1px solid #f2f3f5;
    padding: 0 15px;
  }

  li {
    flex: 1 1;
    position: relative;
    margin: 0 10px;

    &:after {
      content: '/';
      position: absolute;
      right: -5px;
      top: 5px;
      width: 1px;
      height: 100%;
      color: #dcdcdc;
    }

    &:last-child {

      &:after {
        content: none;
      }

    }
  }

  a {
    color: #747a95;
    font-size: 13px;
    padding: 5px;

      &:hover {
        color: #000;
      }
  }

  a, &--r {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &-item {
    padding: 0 15px;

      i {
        margin-right: 10px;
        font-size: 18px;
        color: inherit;
      }
  }
}