
.header {

  width: 100%;
  z-index: 10;
  background: $bacHeader;

  font-size: 15px;

  padding: 15px 15px 15px 5.8em;


  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  flex: 0 0 auto;


}
/*=== search block ===*/
.search {
  position: relative;

  input, button {
    background: transparent;
  }

  input {
    padding: 3px 7px 3px 45px;
    line-height: 2;
    font-size: inherit;
    color: $colorMenu;

  }

  button {

    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;

    .icon-search{
      &:before {
        font-size: 17px;
      }
    }

      &:hover {

        .icon-search{
          &:before {
            color: $colorMenu;
          }
        }
      }

  }
}
::-webkit-input-placeholder {
  color: $colorMenu;
}

::-moz-placeholder {
  color: $colorMenu;
}
/*=== end search block ===*/

/*=== logo ===*/

.logo {
  max-width: 175px;
  width: 100%;


  @include respond-to(phone) {
    max-width: 135px;
  }

  a {
    display: inline-block;
    width: 100%;
  }
}
/*=== end logo ===*/

/*=== master ===*/

.master {
  position: relative;
  font-size: inherit;

  &-name {
    display: flex;
    align-items: center;
    color: $colorMenu;
  }

  &-list {
    position: absolute;
    min-width: 10em;
    right: 0;
    top: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background: #202544;
    opacity: 0;
    z-index: -1;
  }

  li {
    padding: 0 10px;
    margin: 5px 0;

    a {
      color: $colorMenu;
      
        &:hover {
          color: #79afc1;
        }
    }

  }

}

.arrow {
  display: inline-block;
  width: 15px;
  height: 5px;
  position: relative;
  margin-left: 10px;
  cursor: pointer;

    &:hover {
      &:after {
        border-left-color: #038bed;
        border-top-color: #038bed;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: -7px;
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-left-color: #50beff;
      border-top-color: #50beff;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);

      -webkit-transition: .35s all;
      -moz-transition: .35s all;
      -ms-transition: .35s all;
      -o-transition: .35s all;
      transition: .35s all;
    }

    &_active {
      &:after {
        top: -1px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
}
/*=== end master ===*/