
$sizePagin: 28px;

.pagination {

  padding: 15px 30px 15px;

  ul {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin: 0 -5px;
  }

  li {
    margin: 5px;

  }

  a {
    display: inline-block;
    width: $sizePagin;
    height: $sizePagin;
    line-height: $sizePagin;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    color: $darkGrey;

    &.active, &:hover {
      color: $white;
      background: $bacBlue;
    }
  }

}