
.users-list-toodo {

  &-wr {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

  }

  &-main {
    padding: 5px 0 0;
    margin: 15px;
    align-self: baseline;
    flex: 1 0;
    min-width: 700px;

      &--top {
        border-bottom: 1px solid #f5f6f7;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;

          ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
          }

        span {
          display: inline-block;
          padding: 5px 0;
          white-space: nowrap;
          border-bottom: 2px solid transparent;

            &.users-active-info {
              color: #555555;
              border-bottom-color: #0e83f0;
            }
        }

        li {
          border-right: 1px solid $middleGrey;
          flex: 1 1;
          padding-left: 10px;
          padding-right: 10px;

            &:last-child {
              border-right: none;
            }
        }
      }

    .table {
      border-top: 1px solid #ebecf0;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 7px;

      @media screen and (min-width:1100px) and (max-width:1360px) {
        padding-left: 10px;
        padding-right: 10px;
      }

      table {
        min-width: auto;
      }

      td {

        padding-left: 15px;
        padding-right: 15px;

        @media screen and (max-width:1200px) {
          padding-left: 8px;
          padding-right: 8px;
        }

        &:first-child {
          padding-left: 0;
        }

      }

      thead {
        tr {
          border-top: none;
        }
      }

      tbody {

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 0 -10px;

          @media screen and (max-width:1200px) {
            margin: 0;
            flex-direction: column;
          }
        }

        li {
          flex: 1 1;
          margin: 5px 10px;
          position: relative;

            @media screen and (max-width:1200px) {
              margin: 0;
              display: flex;
              align-items: center;
              flex-direction: row-reverse;
              justify-content: space-between;

                &:last-child {
                  text-align: right;
                }

              &:after, &:before {
                content: none !important;
              }
            }

            span {
              font-size: 10px;
            }

          &:first-child {

            &:after {
              content: '';
              position: absolute;
              right: -9px;
              top: 25%;
              height: 50%;
              border-right: 3px dotted #ebecf0;
            }


          }

          &:last-child {
            margin-left: 15px;

            @media screen and (max-width:1200px) {
              margin-left: 0;
            }

            &:before {
              content: '';
              position: absolute;
              left: -14px;
              top: 25%;
              height: 50%;
              border-left: 3px dotted #ebecf0;
            }

          }
        }
      }

      .user-data {
        p {
          font-size: 12px;
        }
        p {
          &:first-child {
            line-height: 2.2;
          }
        }
      }

      p {
        font-size: 13px;


        &.color {
          font-size: 18px;
          line-height: 1.8;

          @media screen and (max-width:1200px) {
            line-height: normal;
            font-size: 15px;
          }
        }
      }

      .name-company {
        font-size: 13px;

        @media screen and (min-width:768px) and (max-width:1300px) {
          max-width: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

        }
      }

      .green {
        color: #62ae2a;
      }


    }

    .table-btn-users {
      text-align: right;
    }

    .btn-simple--img {

      @media screen and (min-width:1100px) and (max-width:1350px) {
        font-size: 0;
        padding: 15px;
      }

      span {
        position: absolute;
        left: 10px;
        top: 7px;

        @media screen and (min-width:1100px) and (max-width:1350px) {
          left: 5px;
          top: 5px;
        }

        &:before {
          font-size: 20px;
          color: #0e83f0;
        }
      }
      
      &:hover {
        span {
          &:before {
            color: #fff;
          }
        }
      }

    }

  }


  /*===sidebar===*/

  &-sidebar {

    margin: -15px;

    @media screen and (max-width:1100px) {
      display: flex;
      width: 100%;
      margin: 0;
    }

    >div {
      margin: 30px;

      @media screen and (max-width:1100px) {
        flex: 1 1;
        margin: 30px 15px;
      }

    }

    &--active-block {

      &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom: 1px solid #ebecf0;

          p {
            color: #0e83f0;
            white-space: nowrap;
          }

      }

      &__list--wr {
        overflow-y: auto;
        max-height: 420px;
      }

      &__list {

        li {
          display: flex;
          align-items: center;
          flex-direction: row;
          padding: 20px 30px;
          position: relative;
          border-bottom: 1px solid #ebecf0;

            &:last-child {
              border-bottom: none;
            }

          p {
            font-size: 16px;
            line-height: 1.13;
            color: #2f323e;
            text-transform: uppercase;
            padding-right: 5px;
            .flag-icon{
              width: 23px;
              border-radius: 5px;
              border: 1px solid #cccccc;
            }
          }

          &:hover {
            .active-change {
              opacity: 1;
              z-index: 2;
              top: 100%;
            }
          }

          .active-change {
            opacity: 0;


            position: absolute;
            left: 10%;
            width: 80%;
            top: 0;
            border-radius: 10px;
            background: #f4f5f6;
            z-index: -2;

              &:before {
                content: '';
                position: absolute;
                left: 0;
                top: -10px;
                width: 10px;
                height: 10px;
                border: 10px solid #f4f5f6;
                border-top-color: transparent;
                border-right-color: transparent;
              }

            p {
              text-transform: none !important;

            }

            >p {
              font-size: 12px;
              padding: 20px 20px 10px;
              border-bottom: 1px solid #9899a0;
            }

            &--item {
              display: flex;
              align-items: center;
              padding: 10px 20px 20px;

              >p {
                width: 29px;
                height: 29px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 10px;
                padding: 0;
              }

              img {
                width: 100%;
              }
            }

            &--info {

              p {
                color: #353535;
                line-height: 1.25;
                font-size: 13px;

              }
              span {
                color: #9899a0;
                font-size: 12px;
                line-height: 1.15;
              }
            }

            strong {
              color: #2f323e;
            }
          }


        }

      }

    }

    &--list__client {

      li {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 25px 30px 20px;
        border-bottom: 1px solid #ebecf0;

          >span {
            display: inline-block;
            margin-right: 15px;
          }
      }

      img {
        width: 35px;
      }

      .progress {
        position: relative;
        font-size: 14px;
        color: $grey;
        padding-bottom: 5px;
        border-bottom: 2px solid #f3f4f5;
        width: 115px;
        white-space: nowrap;

          span {
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 40%;
            height: 2px;
            z-index: 2;
            border-bottom: 2px solid;
          }
      }

    }

    &--social {

      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 25px;
      overflow-x: hidden;

      &__title {
        font-size: 12px;
        text-transform: uppercase;
        padding: 20px 0;
        color: $grey;
      }

      &__list {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        overflow-x: auto;

          li {
            border-right: 1px solid $middleGrey;
            text-align: center;
            padding-left: 25px;
            padding-right: 25px;

              &:first-child {
                padding-left: 0;
              }

              &:last-child {
                border-right: none;
                padding-right: 0;
              }
          }

        img {
          width: 28px;
        }

        span {
          display: inline-block;
          width: 100%;
          font-size: 15px;
          text-transform: uppercase;
          color: #2f323e;
          margin-top: 5px;
        }
      }

    }
  }

}

.flag {
  margin-right: 15px;

  img {
    width: 20px;
  }

}

.device, .count {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

    span, img {
      display: inline-block;
      width: 15px;
    }
}

.count {
  color: $dark;
  font-family: $comfortaa;
  font-size: 30px;
  margin-top: 6px;
}
