.btn {
    display: inline-block;
    padding: 25px 35px;
    background: transparent;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid transparent;
    outline: none;
    text-align: center;
    margin: 0;
    color: inherit;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;

    &:hover {
        -webkit-transition: .35s all;
        -moz-transition: .35s all;
        -ms-transition: .35s all;
        -o-transition: .35s all;
        transition: .35s all;
    }
}

.btn-blue {
  background: #4584f6;
  border: 1px solid #4584f6;
  color: #ffffff;

    &:hover {
      background: #149eff;
      border-color: #149eff;
    }
}
