
.icon-search:before {
  content: "\e914";
  color: #7ccfff;
}

.icon-add-faq:before {
  content: "\e900";
  color: #0f89ff;
}

.icon-attention-dash:before {
  content: "\e901";
  color: #dbdcde;
}

.icon-cart-delete-button:before {
  content: "\e902";
  color: #fff;
}

.icon-check-green:before {
  content: "\e903";
  color: #53e69c;
}

.icon-check:before {
  content: "\e904";
  color: #fff;
}

.icon-checked-dash:before {
  content: "\e905";
  color: #dbdcde;
}

.icon-checked:before {
  content: "\e906";
  color: #3d88d4;
}

.icon-clean-input:before {
  content: "\e907";
  color: #d5d5d5;
}

.icon-delete:before {
  content: "\e908";
  color: #0f89ff;
}

.icon-download:before {
  content: "\e909";
  color: #0e83f0;
}

.icon-earth:before {
  content: "\e90a";
  color: #0e83f0;
}

.icon-edit-profile:before {
  content: "\e90b";
  color: #fff;
}

.icon-eye:before {
  content: "\e90c";
  color: #b5b5ba;
}

.icon-filter:before {
  content: "\e90d";
}

.icon-laptop:before {
  content: "\e90e";
  color: #b2b2b2;
}

.icon-pencil-edit:before {
  content: "\e90f";
  color: #d2d2d2;
}

.icon-phone:before {
  content: "\e910";
  color: #b2b2b2;
}

.icon-play-button:before {
  content: "\e911";
  color: #d1d1d3;
}

.icon-plus-category:before {
  content: "\e912";
  color: #0e83f0;
}

.icon-plus:before {
  content: "\e913";
  color: #458cff;
}

.icon-settings-controls:before {
  content: "\e915";
  color: #fff;
}

.icon-settings:before {
  content: "\e916";
  color: #0f89ff;
}

.icon-stop-button:before {
  content: "\e917";
  color: #d1d1d3;
}
.icon-clock:before {
  content: "\e919";
  color: #5dabf2;
}
.icon-checked-box:before {
  content: "\e918";
  color: #9899a0;
}
.icon-economy-percentage-symbol-with-up-arrow:before {
  content: "\e91a";
  color: #5dabf2;
}
.icon-id-card:before {
  content: "\e91b";
  color: #5dabf2;
}
.icon-line-chart:before {
  content: "\e91c";
  color: #5dabf2;
}
.icon-profile:before {
  content: "\e91d";
  color: #5dabf2;
}
.icon-refresh-history:before {
  content: "\e91e";
  color: #e8ebeb;
}
.icon-type-currency:before {
  content: "\e91f";
  color: #0f89ff;
}
.icon-add-faq:before {
  content: "\e900";
  color: #0f89ff;
}

.icon-refresh-button:before {
  content: "\e920";
  color: #d9dade;
}

.icon-reputation:before {
  content: "\e921";
  color: #458cff;
  font-size: 22px;
}

.icon-priority:before {
  content: "\e922";
  color: #d8d8d8;
}
.icon-drop-down:before {
  content: "\e923";
  color: #9899a0;
}