// Media width
$phone-small: 320px;
$phone-little:380px;
$telephone:550px;
$phone-medium:650px;
$phone: 767px;
$tablet: 890px;
$desktop: 1200px;


//Fonts
$rubik: 'Rubik', sans-serif;
$comfortaa: 'Comfortaa', cursive;

//Colors

$colorBody: #9899a0;
$colorMenu: #ffffff;
$white: #ffffff;
$grey: #5f6169;
$darkGrey: #80818a;
$lightGrey: #f3f4f5;
$middleGrey: #f5f6f7;
$dark: #2f323e;

$colorBtnTableGroup: #dbdcde;
$colorBtnTableGroupHover: #0f89ff;
$colorBlue: #0f89ff;


$colorTable: #b8b8b8;


$red: #ff7676;
$lightGreen: #58e69a;
$green: #3dece6;


//Background
$bacBody: #ffffff;
$bacWrap: #f3f4f5;
$bacHeader: #2c3255;
$bacBlue: #188fff;
