
.dashboard {

  &-profit {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 -17px;

    >div {
      margin: 17px;

      @media screen and (max-width: 1300px) {
        flex: 1 1;
      }

      >div {
        height: 24.5rem;
      }
    }

    &-schedule-wr {
      width: 100%;

        div {
          width: 100% !important;
        }
    }

    .title {
      border-bottom: 1px solid $middleGrey;
    }

    &__list {


      li {
        display: flex;
        align-items: center;
        padding: 18px 30px;
        justify-content: space-between;

        &:nth-child(2n+2) {
          background-color: $bacBlue;

          p, span {
            color: $white;
          }

          .dashboard-profit__list--item {
            &:after {
              background: #acd7ff;
            }
          }
        }

        img {
          width: 80px;

        }
      }

      &--item {
        padding-left: 20px;
        padding-right: 10px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: -4px;
          top: 0;
          width: 4px;
          height: 100%;
          background: $bacBlue;
        }

        p {
          color: $grey;
          font-size: 14px;
          margin-bottom: 15px;
          white-space: nowrap;
        }

        span {
          font-size: 2.3rem;
          font-family: $comfortaa;
          color: $dark;
        }

      }

    }

    &--chart {
      flex: auto;
    }
  }

}